{% extends 'base.html' %}
{% load static %}
{% block content %}

<h2>Mileage Form Conversion</h2>
<a class='btn btn-info mt-4' href="{% url 'firstapp:mileage_create' %}">Upload a File</a>

<table class="table mt-4">
<tbody>
        {% for file in object_list %}
                {% if file.destination%}
                <tr>
                        <th class="col-md-3"><p>{{file.date}}</p></th>
                        <th class="col-md-3"><p><a href="{{file.source.url}}">Source File</a></p></th>
                        <th class="col-md-3"><p><a href="{{file.destination.url}}">Converted File</a></p></th>
                        <th class="col-md-3"><p><a class="btn btn-danger btn-sm" href="{% url 'firstapp:mileage_delete' pk=file.id %}"> X </a></p></th>
                </tr>
                {% endif %}
        {% endfor %}
</tbody>
</table>


{% endblock %}